<h1>You've been invited to be a Co-Parent!</h1>

<p>
  <%= @greeting %>,<br>
  <%= @user.first_name.capitalize %> has invited you to join OurKids and become a Co-Parent!

  Check it <%= link_to 'HERE', new_user_registration_url %>
</p>

