.modal-content{
  margin-top:50%;
  border-radius:2%;

  h3{
    margin-bottom: -10%;
    font-size:24px;
  }
}

.name-balance{
  font-weight: 300;
  font-size: 16px;
}

.modal-body{
  h5{
    font-weight: 400;
    font-size: 18px;
  }
}
