.dashboard h2{
  font-size:24px;
}

.break{
  color:#c6c6c6;
  height: 2px;
}

.fa-chevron-left{
  padding-left: 10px;
  font-size:18px;
}

.family-dashboard{
  // margin-left: 30px;
  // margin-top: 10px;
  margin: 10px 30px 0 30px;
  h3{
    font-size: 25px;
    font-weight: 500;
    color: rgb(146,116,131);
    text-decoration: none;
  }
}

.children {
  margin-left: 15px;
  border-right: 3px dashed #75b9be;
  padding-right: 15px;

  p{
    height:35px;
    width: 35px;
    display: inline;
  }
}

.profile-dashboard {
  margin-left: 30px;
  margin-top: 30px;
}

.settings {
  display: inline-flex;
}

.mobile-dash{
  margin-top: 40px;

  img{
    margin-left: 25px;
    margin-bottom: 8px;
  }
}

.mobile-dash-2 img{
  margin-left: 30px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.mobile-dash-3 img{
  margin-left: 30px;
  margin-bottom: 5px;
  margin-top: 25px;
}
