.dashboard h2{
  font-size:24px;
}

.break{
  color:#c6c6c6;
  height: 2px;
}

.fa-chevron-left{
  padding-left: 10px;
  font-size:18px;
}

.family-dashboard{
  margin-left: 30px;
  margin-top: 10px;
}

.children {
  margin-left: 15px;

  p{
    height:35px;
    width: 35px;
    display: inline;
  }
}

.profile-dashboard {
  margin-left: 30px;
  margin-top: 30px;
}

.settings {
  display: inline-flex;
}

.mobile-dash{
  margin-top: 40px;

  img{
    margin-left: 25px;
    margin-bottom: 8px;
  }
}

.mobile-dash-2 img{
  margin-left: 30px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.mobile-dash-3 img{
  margin-left: 30px;
  margin-bottom: 5px;
  margin-top: 25px;
}
