.receipt{
display:fixed;
background-color: grey;
height: 30vh;
width: 100vw;
}

.expenses-infos{
  display:fixed;
  margin-left:5%;
  margin-right:5%;
  background-color: blue;
}

.title-expenses{

}
