.kids h2 {
  font-size:24px;
}

.fa-chevron-left{
  padding-right: 10px;
}

.latest h2{
  font-size:24px;
  margin-left:30px;
}

.card-latest{
  display: flex;
  background-color: white;
  width: 355px;
  height: 70px;
  margin-left:30px;
  margin-top:10px;

  h4{
    font-size:16px;
    margin-left:10px;
    font-weight: bold;
  }
}

.small-text-card {
  margin-left:30px;
  margin-top:5px;
  margin-bottom:5px;
  p{
  font-size:16px;
  color:#c6c6c6;
}
}

.card-wrapper{
  display: inline;
}

.card-title{
  display: inline;
}

.box{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items:center;
  margin-top: 21px;
}
.item{
  flex: 1 1 auto;
}

p.item {
    text-transform: capitalize;
    text-align: center;
}
p.item {
    display: block;
}
p.item:first-letter  {
    text-transform: uppercase;
}

