.card-latest1{
  display: flex;
  background-color: white;
  width: 85%;
  height: 70px;
  margin-left:30px;
  margin-top:10px;
  justify-content: space-around;
  align-items: center;

  h4{
    font-size:16px;
    margin-left:0px;
    font-weight: bold;
  }
}

.expenses-container {
  overflow-y: auto;
  height: 66vh;
}

// .card-wrapper1 {
//   display: flex;
//   p{
//      margin-top:50px;
//      margin-bottom:20px;
//      margin-left:-35px;
//   }
//   img{
//     color:#75b9be;
//   }
// }

.card-price{
  display: inline;
  margin-top:10px;
  margin-left: -10px;
  margin-bottom: 12px;
  font-weight: 500;
  // display: absolute !important;
  // right: 100px;
}

.card-title1{
  display: inline;
  margin-top:10px;
  width: 105px;
  h4{
    font-weight: 500;
    font-size:18px;
  }
  p{
    font-weight: 300;
    margin-bottom: 20%;
  }
  // margin-left:15px;
}

.card-avatar{
  // padding-left: px;
  margin-top: 10px;
  margin-right: 20px;
}

.card-avatar1{
  position:right;
  margin-top: 10px;
}

.category1{
  padding-left:10px;
}


.box{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items:center;
  margin-top: 21px;
  p {
    // margin-bottom: 0;
  }
}
.item{
  flex: 1 1 auto;
}

p.item {
    text-transform: uppercase !important;
    text-align: center;
    display: block;
}

p.item1 {
    text-transform: uppercase !important;
    text-align: center;
    display: block;
    margin-left: 100px
}

p.item2 {
    text-transform: uppercase !important;
    text-align: center;
    display: block;
    margin-right: 55px
}


.hide-expenses {
  display: none;
}
