 .form-newfamily {
  left: 50%;
  top: 50%;
  margin-left: -40%;
  position: fixed;
  margin-top: -40%;
}


.container h3 {
  margin-left: -33px;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 33px;
  margin-top: -12px;
}
