 .form {
  left: 50%;
  top: 50%;
  margin-left: -33%;
  position: absolute;
  margin-top: -25%;
}

.form1 {
  left: 59%;
  top: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 555px;
}

.container h2 {
  margin-left: -33px;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 33px;
  margin-top: -12px;
}

 .form-pay {
  left: 53%;
  top: 45%;
  margin-left: -33%;
  position: absolute;
  margin-top: -25%;
}
