<div class="kids">
    <h2 class="text-align-left"><i class="fas fa-chevron-left"></i>The Kids</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
</div>

  <div class= "family-dashboard">
    <div class="families" style="display: flex; overflow-x: auto;">

        <% @family.children.each do |child| %>
        <div class="child-card text-center">
          <%= cl_image_tag child.photo, class: "avatar-medium"%>
          <p><%= humanized_money(child.total) %>€</p>
        </div>
        <% end %>
         <%= link_to 'New', new_family_child_path(@family), class: 'round-btn-new' %>

    </div>
  </div>

