<div class="kids">
  <h2 class="text-align-left"><i class="fas fa-chevron-left"></i>The Kids</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
</div>

<div class= "family-dashboard">
  <div class="families">
    <% @family.children.each do |child| %>
    <%= cl_image_tag child.photo, class: "avatar-Xlarge"%>
    <% end %>

      <%= link_to families_coparent_path do %>
        <div class="round-btn-kid"><span>+</span></div>
      <% end %>

  </div>
</div>


<div class="latest">
  <h2 class="text-align-left"></i>Latest</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
    <%= render @family.expenses.order(:updated_at).limit(4) %>
</div>
