<div class="banner">
  <div class="banner-content text-center">
    <h1>Our Kids</h1>
     <p>For easier co-parenting</p>
     <div style="padding-top:15px;"><div>
    <div>
      <%=link_to "Sign up", new_user_registration_path, class: "ghost-button-btn",style:"color:white"  %>
    </div>
    <div style="padding-top:12px;"><div>
    <div>
      <%=link_to "Login", new_user_session_path, class: "ghost-button", style:"color:white" %>
    </div>
  </div>
</div>

