<div class="banner">
  <div class="banner-content text-center">
    <h1>Our Kids</h1>
     <p>For easier co-parenting</p>
     <div style="padding-top:15px;"></div>
    <div>
      <%=link_to "Sign up", new_user_registration_path, class: "ghost-button-btn",style:"color:white"  %>
    </div>
    <div style="padding-top:12px;"></div>
    <div>
      <%=link_to "Login", new_user_session_path, class: "ghost-button", style:"color:white" %>
    </div>
  </div>
</div>


<div class="tabs">
  <a class="tab">
    <h3><img src="https://img.icons8.com/ios/50/000000/children.png"></h3>
    <p>We try to make the kid's life easier and without unnecessary arguments</p>
  </a>
  <a class="tab active">
    <h3><img src="https://img.icons8.com/ios/45/000000/cash-in-hand.png"></h3>
    <p>Expenses between divorced parents have never been this easy!</p>
  </a>
  <a class="tab">
    <h3><img src="https://img.icons8.com/ios/50/000000/parent-guardian.png"></h3>
    <p>Ensure that they have the best life possible!</p>
  </a>
</div>

