  <div class="kids">
  <h2 class="text-align-left" style="margin-left:7%;font-weight: 600;">New expense</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
  <div class= "family-dashboard1 form1">
    <%= form_for @expense, url: wizard_path, method: :put do |f| %>
    <h5>Pick date</h5>
    <div class="thin-div-expense">
      <div class="large-div-expense">
      </div>
    </div>
    <div class="content-expenses">
      <%= f.date_field :date %>
    </div>
    <h5>Category</h5>
    <div class="thin-div-expense">
      <div class="large-div-expense">
      </div>
    </div>
    <div class="content-expenses">
      <%= f.collection_select :category, Category.order(:name),:id,:name, include_blank: '*pick category*' %>
    </div>
    <%= f.submit "Next", class: "ghost-button-btn-newfamily2" %>
  </div>
  <% end %>
</div>


