
<div class="card-latest1">
      <div class="card-payment">
        <%= payment.payer.first_name %>
      </div>
      <div class="card-payment">
        <%= payment.payee.first_name %>
      </div>
      <div class="card-payment">
        <p><%= payment.amount %> €</p>
      </div>
</div>
