<div class="kids" style="margin-bottom:7%;">
  <h2 class="text-align-left" style="margin-left:7%;">Payments</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
</div>

<div class="box-payments">
  <p class="item-1">PAYER</p>
  <p class="item-2">BENEFICIARY</p>
  <p class="item-3">AMOUNT</p>
</div>

  <div class="expenses-container">
   <%= render @payments %>
  <%= link_to 'Add received payment', new_family_payment_path(@family), class: 'payment-btn' %>
  </div>
