<div class="container form-pay" style="">
  <%= simple_form_for [@family, @payment] do |f| %>
    <%= f.input :amount, required: true %>
    <%= f.input :payment_method, collection: Payment.payment_methods, required: true %>
    <%= f.button :submit, class: "ghost-button-btn-payment"  %>
  <% end %>
</div>
