.avatar-large {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.avatar-medium{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin: 5px;
  box-shadow: 1px 1px 4px #c6c6c6;
}

.avatar-small {
  width: 40px;
  border-radius: 50%;
}

.avatar-smedium{
  margin-top: -5%;
  width: 60px;
  border-radius: 50%;
}

.avatar-Xlarge{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-right: 10px;
  position: relative;
  opacity: 0.8;
}
.total-child {
  position: absolute;
  top: 103px;
  left: 32px;
  font-weight: bolder;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

.card-avatar li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.card-avatar li:nth-child(n+2) {
  margin-left: -50px;
}

.card-avatar ul:hover li:nth-child(n+2) {
   margin-left: -10px;
}
