/* Main navbar */
.navbar-wagon {
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: top;
  padding-left: 345px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

#top { position: fixed; top: 5px; right: 25px; }
