
<div class="latest">
  <h2 class="text-align-left"></i>Expenses History</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
</div>

  <div class="box">
    <p class="item1">Expenses</p>
    <p class="item">Amount</p>
    <p class="item2">Kids</p>
  </div>


   <%= render @expenses %>


</div>

