<div class="latest">
  <h2 class="text-align-left"></i>Expenses History</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
</div>

<div style="margin: 10px 0px -10px 30px;">
  Filter by:
  <%= select("post", "category", Category.all.map{|c| c.name}, {include_blank: 'Category'}) %>
</div>
<div class="box">
  <p class="item1">Expenses</p>
  <p class="item">Amount</p>
  <p class="item2" style="margin-right: 25px;">Kids</p>
</div>

<div class="expenses-container">
 <%= render @expenses %>
</div>
