<h1>New expense</h1>
<% form_for @expense do |f| %>
  <%= render partial: "#{@expense.current_step}_step", f: f %>
  <p><%= f.submit "Continue" %></p>
  <p><%= f.submit "Back", :name => "back_button" unless @expense.first_step? %></p>
  <!-- FORM TO SPLIT LATERE INTO PARTIALS  -->
<% end %>