<%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, root_path, class: 'back-btn' %>
<div class="receipt">
</div>
<div class="expense-btn"><span>+</span></div>

<div class="expenses-infos">
  <h2 class="title-expenses">Clothes</h2>
  <h4>VASCO</h4>
  <p>20 SEPT. 2018</p>
</div>
