<div class="expenses-show">
<%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, root_path, class: 'back-btn' %>
  <div class="receipt">
  </div>
  <div class="expense-btn"><span>+</span></div>

  <div class="expenses-infos">
    <h2>Clothes</h2> <!-- expenses.title -->
    <h4>VASCO</h4> <!-- expenses.title -->
    <p>20 SEPT. 2018</p>
  <div class="thin-div-expenses">
  </div>

    <h4>CATEGORY</h4> <!-- expenses.title -->
    <p>Clothes</p>
  <div class="thin-div-expenses">
  </div>

    <h4>DESCRIPTION</h4> <!-- expenses.title -->
    <p>Bought new clothes for Carlos, he needed some for his Karaté lessons</p>
  <div class="thin-div-expenses">
  </div>

    <h4>KIDS</h4> <!-- expenses.title -->
    <div class="avatar-medium">
  </div>
</div>
